.expanded { display:none; line-height: 1.8em;}
.expanded table { margin: 0; width: 100%; }
.expanded table td {overflow:hidden; white-space:nowrap;}
.expanded table tr > td:first-child { padding-left:20px;font-weight: bold; width: 20%;}
.expanded table tr > td:last-child { text-align:right; }

.category {line-height: 2em;}
.category .chart { width: 30%; float: left; } /* !wk-hack */
.category .spend { width: 20%; float: left; font-size: 1em; font-weight:bold;}
.category .diff  { width: 20%; float: left; font-size: 1em; font-weight:bold;}
.category .title { width: 30%; float: left; white-space: nowrap; overflow: hidden; font-size: 1.7em; font-weight: bold; text-align:right;}

.category .chart .plot { height: 40px; padding-right: 16px; } /* !wk-hack */
.category .expanded { font-size: 0.8em; }

.over { color: #9D3D35; }
.over:after { content: " over"}

.under { color: #9DBB61; }
.under:after { content: " saved"}

.unchanged { color: #909090; }
.unchanged:after { content: "No change"}


.action {
  background-color:#EDCDCB;
  border-color:#C05046;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.3em;
}


.date-range {
  text-align:center;
  line-height: 1.6em;
  padding: 10px;
}
.date-range {font-size: 1.1em;}
.date-range strong { font-weight: bold; font-size: 1.5em}
.date-range p + p { font-weight: bold; }
.date-range a { padding: 0px 0.2em; font-weight: normal;}


.delta { padding: 5px 0; text-align:center;}
.delta h2 { padding:6px; }
.delta .plot {height: 60px; padding: 5px;} /* !wk-hack */
.delta table {margin-left:auto; margin-right:auto; border-spacing:10px;line-height:1em;} /* !wk-hack */


.transaction {line-height: 1.1em; margin: 5px; padding: 8px; font-size: 0.8em}
.transaction .amount {width: 20%; float: left;}
.transaction .date {width: 30%; float: left;}
.transaction .categories {width: 50%; float: left; white-space: nowrap; overflow: hidden; text-align:right;}


