.expanded { display:none; line-height: 1.8em; overflow:hidden; }
.expanded table { margin: 0; width: 100%; }
.expanded table td {overflow:hidden; white-space:nowrap; width: auto;}
.expanded table td.money { padding-left:20px; }
.expanded table tr > td:last-child { color: #c9c9c9; }
.expanded thead { font-size: 0.8em; line-height: 0.9em; color: #c9c9c9; }

.category {line-height: 2em;}
.category .chart { width: 30%; float: left; } /* !wk-hack */
/*.category .spend { width: 20%; float: left; font-size: 1em; font-weight:bold;}*/
.category .diff  { width: 20%; float: left; font-size: 1em; font-weight:bold;}
/*.category .title { width: 30%; float: left; white-space: nowrap; overflow: hidden; font-size: 1.7em; font-weight: bold; text-align:right;}*/

.category .chart .plot { height: 40px; padding-right: 16px; } /* !wk-hack */
.category .expanded { font-size: 0.8em; }


.transaction {line-height: 1.1em; margin: 5px; padding: 8px; font-size: 0.8em}
.transaction .amount {width: 20%; float: left;}
.transaction .date {width: 30%; float: left;}
.transaction .categories {width: 50%; float: left; white-space: nowrap; overflow: hidden; text-align:right;}


.entry-edit td {
  border-top: 1px solid #d9d9d9; 
  border-bottom: 1px solid #d9d9d9;
}

.entry-edit:last-child td {border-bottom:none;}

.entry-edit select { margin: 5px 2px; }
